<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="schline.ClassDTOImpl">
  <select id="listCourse" resultType="schline.ClassDTO"
  parameterType="schline.ClassDTO">
     select Tb.* from (
        select  R.*,s.subject_name,u.user_name from subject_tb  S
         inner join registration_tb  R
         on S.subject_idx = R.subject_idx 
         inner join user_tb U
         on s.user_id = u.user_id
        where R.user_id = #{user_id}
        order by regi_idx  desc 
    ) Tb
  </select>
  <select id="divIdList" resultType="String" parameterType="String">
  select  device_id from registration_tb r 
		inner join user_tb u
		on r.user_id = u.user_id
		where r.subject_idx = #{idx} and not device_id is null
  </select>
  
  <select id="stu_id" resultType="String" parameterType="String">
 	select user_id from penboard where bgroup = #{0} and bindent =#{1}
  </select>
  
  <select id="divID" resultType="String" parameterType="String">
  select device_id from user_tb where user_id = #{0}
  </select>

	<select id="listLecture" resultType="schline.VideoDTO"
	parameterType="schline.VideoDTO">
	select Tb.*, rownum rNum from (
        select * from video_tb where subject_idx = #{subject_idx}
         order by video_idx asc
    ) Tb
  </select>
  <select id="applistLecture" resultType="schline.VideoDTO"
	parameterType="schline.VideoDTO">
	select Tb.*, rownum rNum from (
        select V.*,a.currenttime,a.play_time,a.attendance_flag from attendance_tb A 
        inner join video_tb V
        on V.video_idx = A.video_idx
        where V.subject_idx = #{subject_idx} and user_id = #{user_id} order by A.video_idx asc
    ) Tb
  </select>
  

	<select id="listVideo" resultType="schline.VideoDTO" parameterType="String">
	select Tb.*, rownum rNum from (
        select V.* from video_tb V
        inner join subject_tb S
        on v.subject_idx = s.subject_idx
        where user_id = #{user} order by video_idx asc
    ) Tb
	</select>
	<select  id="whatsub_id" resultType="String" parameterType="String">
		select subject_idx from subject_tb where user_id = #{idx}
	</select>
	<insert id="upvid">
	INSERT 	INTO video_tb values 
	(seq_video_idx.nextval, #{idx}, sysdate, #{title}, #{end} ,#{server}) 
  </insert>
  <select  id="modilist" resultType="schline.VideoDTO" parameterType="String">
  select Tb.*, rownum rNum from (
        select * from video_tb where video_idx = #{idx}
    ) Tb
  </select>
   <update id="modivid" parameterType="String">
  update video_tb
    set VIDEO_TITLE=#{title}, VIDEO_END=#{end},server_saved=#{server} where VIDEO_IDX=#{idx}
  </update>
   <delete id="deletevid">
   delete from video_tb where video_idx = #{vid_idx}
  </delete>
   <delete id="delAttendance">
   delete from attendance_tb where video_idx = #{vid_idx}
  </delete>
	<update id="atupdatedb" parameterType="schline.AttendanceDTO">
	update  attendance_tb set play_time =#{play_time}, 
	attendance_flag =#{attendance_flag}, currenttime =#{currenttime}
	 where user_id = #{user_id} and video_idx = #{video_idx}
	</update>
	<update id="updateToken" parameterType="schline.AttendanceDTO">
	update  user_tb set device_id =#{token}
	 where user_id = #{id} 
	</update>
	<select id="selectat" resultType="schline.AttendanceDTO">
	select * from attendance_tb where user_id = #{user} and video_idx = #{idx}
	</select>
	<select id="getVideoIdx" resultType="String">
	select video_idx from video_tb where server_saved = #{save}
	</select>
	<select id="StuList" resultType="String">
	SELECT user_id from registration_tb where subject_idx = #{s_id}
	</select>
	<insert id="AttandanceInsDB" parameterType="schline.AttendanceDTO">
	insert into attendance_tb values 
	(seq_attendance_idx.nextval,#{user_id}, #{video_idx}, 0, 0, 0)

  </insert>
  <select id="FcmSchedule" resultType="admin.FcmDTO">
 	 select subject_idx, exam_name , TO_CHAR(exam_date + (interval '-3' hour),'hh24:mi') endtime from exam_tb where 
	TO_CHAR(exam_date,'yyyy/mm/dd') =  TO_CHAR(SYSDATE,'YYYY/mm/dd') AND  exam_type =1
  </select>
  </mapper>